body{
    font-size: 3em;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    transition: 0.8s;
    padding: 40px 100px;
}

header.sticky{
    padding: 5px 100px;
    background-color: burlywood;
}

header ul{
    gap: 150px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    width: fit-content;
    text-wrap: nowrap;
    justify-items: center;
    grid-auto-columns: max-content;
}

header ul li{
    border: 7px solid black;
    position: relative;
    list-style: none;
    cursor: pointer;
    transition: color 0.4s linear;
    /*width: fit-content;*/
}

header ul li::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(69, 6, 6);
    font-style: italic; 
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-in;
}

li{
    list-style: none;
}

header ul li:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

header ul li:hover{
    color: aliceblue;
    transition: 0.4s ease-in;
    transform-origin: left;
}


header a{
    color: black;
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.2s;
}

.banner-img{
    width: 100%;
    height: 110%;
    object-fit: cover;
}

.banner{
    position: sticky;
    width: 100%;
    height: 110vh;
    background: url("./images/david-marcu-78A265wPiO4-unsplash.jpg");
    background-size: cover;
    z-index: -1;
}

.banner-text{
    position: absolute;
    
}

span{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
}

.self-image{
    height: 50vh;
    width: auto;
    grid-column-end: 2;
    grid-row-end: 3;
}

.about-me{
    margin: 20vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.information-text{
    display: grid;
    grid-template-columns: 1fr;
    background-color: coral;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.about-me span{
    position: relative;
    font-size: 3em;
}